@import "./variables.scss";

.wrapper {
  width: min-content;
  min-width: 100%;
  height: 100%;

  .listContainer {
    width: min-content;
    min-width: 100%;
    padding: 0 40px 0 60px;
    height: 100%;
    position: relative;

    .timelineContainer {
      position: absolute;
      left: 0;
      width: 100%;

      .timeline {
        width: 100%;
        height: 1px;
        border: 1px dashed $dashes;
        position: relative;

        .lowestLabel,
        .highestLabel {
          position: fixed; // Change from absolute to fixed to make them stick
          top: 575px; // Adjust as needed for visual alignment
          font-size: 18px;
          font-weight: bold;
          color: $text;
          rotate: -40deg; // Adjust rotation angle as needed
          background-color: $primary;
          padding: 5px 10px;
          border-radius: 5px;
          color: $text-light;
          z-index: 1000; // Ensure the labels are always on top
        }

        .lowestLabel {
          left: 10px; // Adjust this value for better placement if needed
        }

        .highestLabel {
          right: 10px; // Adjust this value for better placement if needed
        }
      }
    }

    .list {
      display: flex;
      align-items: center;
      justify-content: center; // Center the items within the list
      height: 100%;

      .items {
        display: flex;
        align-items: center;
        justify-content: center; // Ensure the items are centered
      }
    }
  }

  @media screen and (max-width: 600px) {
    .listContainer {
      padding: 0;
      padding-left: 20px;
    }
  }
}
