$background: #ffffff;
$text: #202122;
$text-light: #ffffff;
$text-muted: #0f141d;
$text-link: #0645ad;
$background-alt: #e1e8ed;
$dashes: #5c7080;
$incorrect: #990000;
$correct: #339966;
$primary: #053a55;
$box-border-radius: 8px;
$button-border-radius: 20px;
